body {
    background-color:white
}

/* Creates navigation bar with links to other pages and a logo */

    .navbar { /* Navigation bar optimisation */
        display: flex;
        align-items: center;
        background-color: rgb(200, 224, 235);
        justify-content: start;
        border-radius: 100px;
    }

        .logo { /* Logo size */
            width: 75px;
            height: auto;
            margin-right: 10px;
        }

    .navbarlinks { /* Navigation bar links optimisation*/
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

        .navbarlinks li {
            margin: 0 10px;  /* Space between links */
        }
    
            .navbarlinks a {
                color:black;  /* Link color */
                text-decoration: none;
                padding: 5px 10px;
                font-family: Helvetica;
                font-size: 20px;
            }
    
                .navbarlinks a:hover {
                    background-color: rgb(113, 127, 133);  /* Link hover effect */
                    border-radius: 5px;
                }

/* End of navigation bar */


h1 { /*Gives the correct properties to the "Find the car for you" slogan beneath the main heading*/
        line-height: 0%;
        font-size: 30px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
    }
        

h3 { 
    text-align: left;
    font-size: 25px;

}
    .container_e36 {
        display: flex;
        align-items: center;
    }

        .container_e36 h3{ 
            text-align: left;
            font-size: 25px;
        
        }

        .container_e36 h4 {
            text-align: left;
            font-size: 20px;
        }

            .container_e36 .boxe36 {
                border: 2px solid rgb(112, 139, 147);
                padding: 20px;
                width: 600px;
                height: auto;
                background-color: rgb(196, 241, 255);
                margin-left: 20px;
            }

            .container_e36 img {
                margin-left: 20px;
                width: 300px;
                height: auto;
            }
