body {
    background-color:white
}

/* Creates navigation bar with links to other pages and a logo */

    .navbar { /* Navigation bar styling */
        display: flex;
        align-items: center;
        background-color: rgb(200, 224, 235);
        justify-content: start;
        border-radius: 5px;
        padding: 0px 15px;
        border: rgb(76, 87, 92) solid 2px;
        box-shadow: 3px 3px 6px rgb(34, 39, 42);
    }

        .logo { /* Logo size */
            width: 115px;
            height: auto;
            margin-right: 10px;
        }

    .navbarlinks { /* Navigation bar links styling*/
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

        .navbarlinks li {
            margin: 0 10px;
            border-right: 1px solid rgb(153, 172, 181);
            padding-right: 17px;
        }


        .navbarlinks li:last-child {
            border-right: none;
            padding-right: 0;
        }
    
            .navbarlinks a {
                color:black;  /* Link color */
                text-decoration: none;
                padding: 5px 10px;
                font-family: Helvetica;
                font-size: 20px;
            }
    
                .navbarlinks a:hover {
                    background-color: rgb(180, 200, 210);  /* Link hover effect */
                    border-radius: 5px;
                }

/* End of navigation bar */

.heading_image_div {
    padding-top: 15px;
    display: flex;
    background-size: cover;
}

.heading_image {
    border-radius: 15px;
    display: flex;
    background-size: cover;
    width: 100%;
    border: rgb(76, 87, 92) 3px;
    box-shadow: 3px 3px 6px;

}

/*start of main heading*/
    
.main_heading_div {
    border: rgb(76, 87, 92) 3px;
    border-radius: 15px;
    margin-top: 15px;
    font-family: Helvetica;
    box-shadow: 3px 3px 6px;
    background-color: rgb(200, 224, 235);
}

    .heading2 {
        font-style: normal;
        text-align: center;
        font: Helvetica;
        font-size: 50px;
    }

        .headinginfo {
            display: flex;
            list-style: none;
            justify-content: space-between;
            padding: 0;
            font-size: 30px;
        }

            .headinginfo li {
                text-align: center;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center
            }

                .headinginfo li i {
                    font-size: 24px;
                    margin-bottom: 8px;
                }

/*End of main heading*/

/*Title*/
.main_title_div {
    padding: 0;
    border-top: rgb(76, 87, 92) 3px;
    border-bottom: rgb(76, 87, 92) 3px;
    margin-top: 15px;
    background-color: rgb(200, 224, 235);
}
.main_title {
    font-size: 75px;
}
/*End of title*/

