
  body { 
    background-image: url(highway.jpg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center ;

} 
h1{
  text-align: center;
  font-family: Georgia;
  font-weight:bold;
  font-size: 80px;
  color: rgb(18,86,131)
}
#h2{
  text-allign: center;
}
